.checkIcon
{
    font-size: 8em;
    text-align: center;
}

#emptyProducts
{
    opacity: .7;
}

.btn-abs
{
    position: absolute;
    left: calc(50% - 46px);
    bottom: 20px;
}

.cardOperations
{
    display: flex;
}

.removeCardBtn
{
    color: #2b2b2b;
    position: absolute;
    right: 3px;
    text-decoration: none;
    transition: all .1s linear;
}

.removeCardBtn:hover
{
    color: #fff;
    transition: all .1s linear;
}