.checkIcon
{
    font-size: 8em;
    text-align: center;
}

#emptyProducts
{
    opacity: .7;
}

.btn-abs
{
    position: absolute;
    left: calc(50% - 46px);
    bottom: 20px;
}

.cardOperations
{
    display: flex;
}